.carousel-page2-right-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .time-section {
    flex: 0 0 20%; // 时间区域占35%
    height: 20%;
  }

  .products-section {
    flex: 1; // 产品表格占剩余65%
    height: 0;
  }
}
