.dashboard-section {
  width: 100%;

  &.top-section {
    min-height: 120px;
    flex-shrink: 0;
  }

  &.mid-section {
    flex: 2;
    min-height: 500px;
    margin: 16px 0;
  }

  &.bottom-section {
    flex: 1;
    min-height: 320px;
  }
}
