.dashboard-section {
  width: 100%;
  overflow: hidden;

  &.top-section {
    min-height: 0;
    height: 480px;
    flex-shrink: 0;
    margin-bottom: 8px;
  }

  &.mid-section {
    flex: 1.5;
    min-height: 0;
    margin: 8px 0;
    display: flex;
  }

  &.bottom-section {
    flex: 1;
    min-height: 0;
    margin-top: 8px;
    display: flex;
  }
}
