.mid-content {
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;

  .mid-grid {
    display: flex;
    width: 100%;
    height: 100%;

    .mid-cell {
      height: 100%;

      // 月销售额占据左侧
      &.monthly-sales {
        flex: 3;
        margin-right: 20px;
      }

      // 热门产品占据右侧
      &.hot-products {
        flex: 2;
      }
    }
  }
}
